each item in messages
  li
    h3
      | Conversation with 
      a= item.name
    ul.app--message--conversation
      li.app--message
        .app--avatar(style='background-image: url(' + item.profileImageURL + ')')
          img(src= item.profileImageURL)
        p.app--message--text= item.text
        p.app--message--timestamp= item.createdAt
